 <div class=" d-flex bg-black">
	  <h2 class="color-text-white margin-title">IMAGENES REFERENCIALES</h2>
	</div>
<div class="slideshow-container">

    <div class="mySlidesRef fade">
      <img src="../../../assets/png/ref/INGRESO.png" style="width:100%">
    </div>
    
    <div class="mySlidesRef fade">
      <img src="../../../assets/png/ref/CASAGR.png" style="width:100%">
    </div>
    
    <div class="mySlidesRef fade">
      <img src="../../../assets/png/ref/VALLA.png" style="width:100%">
    </div>
    
    <a class="prev" (click)="plusSlides(-1)">❮</a>
    <a class="next" (click)="plusSlides(1)">❯</a>
    
    <div class="dots" style="text-align:center">
        <span class="dot" (click)="currentSlide(1)"></span> 
        <span class="dot" (click)="currentSlide(2)"></span> 
        <span class="dot" (click)="currentSlide(3)"></span> 
      </div>
</div>




