 <div class=" d-flex bg-white">
    <h2 class="color-text-black margin-title">IMPLANTACIÓN GENERAL</h2>
  </div>

<div class="d-flex bg-white contenedor-imge">
  <div class="content-img content-img2">
        <img class="img-house border" src="../../../assets/png/COLOR-ISOMETRIA.png">
    </div>

    <div class="content-form border bg-grey content-text2">
        <div class="content-text bg-grey color-text-grey content-text3">
            
                a
                a
                a
                a
                a
                a
                a
                a
                a
                a
                a
                a
                a
                a
                a
                a
                a
                a
                a
                a
                a
                a
            
        </div>
    </div>
    
</div>



 <div class=" d-flex bg-white">
	  <h2 class="color-text-black margin-title">IMAGENES REFERENCIALES</h2>
	</div>
<div class="slideshow-container">

    <div class="mySlidesRef fade">
      <img src="../../../assets/png/ref/02CASAS.png" style="width:100%">
    </div>
    
    <div class="mySlidesRef fade">
      <img src="../../../assets/png/ref/03COMUNAL.png" style="width:100%">
    </div>
    
    <div class="mySlidesRef fade">
      <img src="../../../assets/png/ref/04PISCINA.png" style="width:100%">
    </div>

    <div class="mySlidesRef fade">
      <img src="../../../assets/png/ref/05PERGOLA.png" style="width:100%">
    </div>

    <div class="mySlidesRef fade">
      <img src="../../../assets/png/ref/06PADEL.png" style="width:100%">
    </div>
    
    <a class="prev" (click)="plusSlides(-1)">❮</a>
    <a class="next" (click)="plusSlides(1)">❯</a>
    
    <div class="dots" style="text-align:center">
        <span class="dot" (click)="currentSlide(1)"></span> 
        <span class="dot" (click)="currentSlide(2)"></span> 
        <span class="dot" (click)="currentSlide(3)"></span> 
        <span class="dot" (click)="currentSlide(4)"></span>
        <span class="dot" (click)="currentSlide(5)"></span>
      </div>
</div>




