.header {
  position: sticky;
  top: 0;
  z-index: 999;

  img {
    width: 181px;
    height: 60px;
  }

  .malaquitaLogo{
    width: 200px;
    height: 80px;
  }

  .socialIcons {
    width: 18px;
    height: 18px;
  }

  .call-number {
    font-size: 18px;
  }

  .color-text {
    color: #2A4B3A;
  }

}
