<div class="main-content">
	<div class=" d-flex bg-black">
	  <h2 class="color-text-white margin-title">CASAS TIPO</h2>
	</div>
	<div class="d-flex margin-title color-text-white contenedor-img"> 
	  	<div name="tipoA" class="main-subcontent">
	        <div class="color-text-white bg-green main-content-subtitle">
	            <h2>CASA TIPO A</h2>
	        </div>
	        <div class="bg-white text-center margin-image">
	            <img class="img-house" src="../../../assets/png/house-type/house1.png" alt="">
	        </div>
	        <div class="main-content-house color-text-green">
			      <h2>CASAS DE 128m2</h2>    
			</div>
	        <div class="bg-white text-center color-text-green">
	        	<h4>PLANTA ALTA</h4>
	            <img class="img-house" src="../../../assets/png/house-type/type-a-pa.png" alt="">
	        </div>
	        <div class="bg-white text-center color-text-green">
	        	<h4>PLANTA BAJA</h4>
	            <img class="img-house" src="../../../assets/png/house-type/type-a-pb.png" alt="">
	        </div>
	    </div>

	    <div name="tipoB" class="main-subcontent">
	        <div class="color-text-white bg-green margin-subtitle main-content-subtitle">
	            <h2>CASA TIPO B</h2>
	        </div>
	        <div class="bg-white text-center margin-image">
	            <img class="img-house" src="../../../assets/png/house-type/house1.png" alt="">
	        </div>
	        <div class="main-content-house color-text-green">
			      <h2>CASAS DE 140m2</h2>      
			</div>
	        <div class="bg-white text-center color-text-green">
	        	<h4>PLANTA ALTA</h4>
	            <img class="img-house" src="../../../assets/png/house-type/type-a-pa.png" alt="">
	        </div>
	        <div class="bg-white text-center color-text-green">
	        	<h4>PLANTA BAJA</h4>
	            <img class="img-house" src="../../../assets/png/house-type/type-a-pb.png" alt="">
	        </div>
	    </div>

	</div>
	<div class="margin-button text-center">
		  <app-btn></app-btn>
	</div> 
</div>

