.main-content{
  background: #AF9C96;
}
.main-subcontent{
  background: white;
  padding-left: 25px;
  width: 100%;
  margin-top: 15px;
}
.margin-image{
  margin-top: 20px;
}
.main-content-house{
  padding-top: 15px;
  padding-bottom: 10px; 
  background: white;
  text-align: right; 
  margin-right: 30px;
  margin-top: 50px; 
  margin-bottom: 20px;
  border-bottom: 4px dashed black; 
  border-top: 4px dashed black; 
}
.img-house{
  width: 90%;
}
.margin-title{
  margin-left: 50px;
  margin-right: 50px;
}
.main-content-subtitle{
  width: 250px;
  position: absolute;
  margin-top: -20px;
  margin-bottom: 25px;  
}
.margin-button{
  padding-top: 50px;
  padding-bottom: 50px;  
}

@media only screen and (max-width: 600px) {
  .contenedor-img {
  flex-direction:column !important;
  align-items: center;
  margin-left: 40px;
  margin-top: 40px;
  }
}
