<div class="layout-card p-5">
    <div class="d-flex justify-content-around">
        <app-card title="Ubicación" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "></app-card>
        <app-card title="Ubicación" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "></app-card>
        <app-card title="Ubicación" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "></app-card>
    </div>
</div>
