<div>
  	<div class="bg-white">
	  <h2 class="color-text-black margin-title">UBICACIÓN</h2>
	</div>
</div>

	
<div class="bg-white img img2">
   		<img class="img2" src="../../../assets/png/mapa.png" />
 	
</div>

<div class="bg-green color-text-white content-text">
	<div class="bg-green color-text-white subcontent-text subcontent-text2">
		<div class="d-flex">
			<div class="icon">
	        	<img  src="../../../assets/png/icon/Frame51.png"/>
			</div>
			<div class="content-text2">
	        	<h4>Ubicación privilegiada en el Valle de Tumbaco.</h4>
			</div>
		</div>
		<div class="d-flex">
			<div class="icon">
	        	<img  src="../../../assets/png/icon/Frame51.png"/>
			</div>
			<div class="content-text2">
	        	<h4>Sector residencial.</h4>
			</div>
		</div>
		<div class="d-flex">
			<div class="icon">
	        	<img  src="../../../assets/png/icon/Frame51.png"/>
			</div>
			<div class="content-text2">
	        	<h4>Fácil acceso, Vía Inteoceanica y Ruta Viva.</h4>
			</div>
		</div>	
		<div class="d-flex">
			<div class="icon">
	        	<img  src="../../../assets/png/icon/Frame51.png"/>
			</div>
			<div class="content-text2">
	        	<h4>A 15min de centro Cumbaya.</h4>
			</div>
		</div>
		<div class="d-flex">
			<div class="icon">
	        	<img  src="../../../assets/png/icon/Frame51.png"/>
			</div>
			<div class="content-text2">
	        	<h4>Cerca de restauranes, centros comerciales, universidades y colegios.</h4>
			</div>
		</div>

		<div class="bg-green margin-button text-center">
		 	<app-btn></app-btn>
		</div> 
           	
 	</div>      
</div>


