<div>
  	<div class="bg-white">
	  <h2 class="color-text-black margin-title">UBICACIÓN</h2>
	</div>
</div>

<div class="bg-white">	
    <div name="mapa" class="text-center">
   		<img src="../../../assets/png/mapa.png"  width="960" height="640" />
 	</div>
</div>

<div class=" bg-white color-text-green text-justify">
        <h4>
        	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  			<path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
			</svg> Ubicación privilegiada en el Valle de Tumbaco, en plena consolidación
			residencial.
		</h4>
		<h4>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  			<path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
			</svg> De fácil acceso; a pocos minutos de la Vía Interoceánica y Ruta Viva.
		</h4>
		<h4>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  			<path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
			</svg> A 15 minutos del centro de Cumbayá y servicios (restaurantes, centroscomerciales, bancos, colegios, universidades).
		</h4>
           	
        
</div>

<div class="bg-white margin-button text-center">
  <app-btn></app-btn>
</div> 


