.text-justify{
	width: 75%;
	margin-top:50px;
	padding: 20px 0px 20px 120px;
	text-align: justify; 
    text-justify: inter-word;
}
.text-justify2{
	width: 85%;
	margin-top:50px;
	padding-left: 85px;
	text-align: justify; 
    text-justify: inter-word;
}
div.mapa {
	width: 90%;
	max-width: 960px;
	margin: auto auto;
}
img {
	width: 85%;
	height: auto;
}
.margin-button{
  margin-top: 75px;
  margin-bottom: 75px;
}