<div class="bg-black">
  <h2 class="color-text-white">AMBIENTES</h2>

  <div class="main-content">
    <div class="content-left">Izquierdo</div>
    <div class="color-text-white">
      <div class="line-white"></div>
      <div>Piscina</div>
      <div class="line-white"></div>
      <div>Áreas Verdes</div>
      <div class="line-white"></div>
      <div>Sala de Co-Working</div>
      <div class="line-white"></div>
      <div>Sala Comunal</div>
      <div class="line-white"></div>
      <div>Cancha de Padel</div>
    </div>
  </div>
</div>

