.line{
    border-left: 3px solid #0FB5A2;
    height: 150px;
    margin-left: 10%;
    margin-right: 10%;
}
.imgMalaquita{
    width: 30%;
    height: 20%;
}
.header-buttons{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
