<div class="bg-white mt-5 mb-5">
    <div class="d-flex justify-content-around">
        <div class="d-flex flex-column align-items-center">
            <img class="mb-2" width="50" height="50" src="../../../assets/png/houseIcon.png" alt="">
            <h1 class="black-color mb-2 text-center">2</h1>
            <div class="black-color text-center font-size14">tipos de casas <br> entre <br> 125 m2 y 142 m2</div>
        </div>

        <div class="d-flex flex-column align-items-center">
            <img class="mb-2" width="50" height="50" src="../../../assets/png/houseIcon.png" alt="">
            <h1 class="black-color mb-2 text-center">48
            </h1>
            <div class="black-color text-center font-size14">viviendas con jardin<br> independiente</div>
        </div>

        <div class="d-flex flex-column align-items-center">
            <img class="mb-2" width="50" height="50" src="../../../assets/png/houseIcon.png" alt="">
            <h1 class="black-color mb-2 text-center">5</h1>
            <div class="black-color text-center font-size14">minutos de distancia<br>de la Ruta Viva y Via<br>Interoceánica</div>
        </div>


        <div class="d-flex flex-column align-items-center">
            <img class="mb-2" width="50" height="50" src="../../../assets/png/houseIcon.png" alt="">
            <h1 class="black-color mb-2 text-center">1300</h1>
            <div class="black-color text-center font-size14">m2 de áreas<br>verdes y ambientes</div>
        </div>

        <div class="d-flex flex-column align-items-center">
            <img class="mb-2" width="50" height="50" src="../../../assets/png/houseIcon.png" alt="">
            <h1 class="black-color mb-2 text-center">40</h1>
            <div class="black-color text-center font-size14">años de<br>trayectoria</div>
        </div>

        <div class="d-flex flex-column align-items-center">
            <img class="mb-2" width="50" height="50" src="../../../assets/png/houseIcon.png" alt="">
            <h1 class="black-color mb-2 text-center">28</h1>
            <div class="black-color text-center font-size14">años trabajando junto a<br>proyectos con <br>fideicomiso inmobiliario</div>
        </div>
    </div>
  <div class="mt-5">
    <app-btn bgbtn="#72BC95" textbtn="white"></app-btn>
  </div>

</div>
