<div class="bg-black header-buttons">
<!--    <div class="d-flex justify-content-center">-->
<!--        <img class="imgMalaquita" src="../../../assets/png/malaquita.png" alt="malaquita">-->
<!--        <div class="line"></div>-->
<!--        <div>-->
<!--            <div class="font17 base-color">-->
<!--                NUEVO PROYECTO-->
<!--            </div>-->
<!--            <div class="font31 black-color">-->
<!--                ENTREGA 2024-->
<!--            </div>-->
<!--            <div class="font20 base-color">-->
<!--                Casas desde-->
<!--            </div>-->
<!--            <div class="font45 black-color">-->
<!--                $180.000-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <app-btn></app-btn>
</div>
