/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.font12{
    font-size: 12px;
}
.font17{
    font-size: 17px;
}

.font20{
    font-size: 20px;
}

.font31{
    font-size: 31px;
}

.font45{
    font-size: 45px;
}

.base-color{
    color: #72BC95;
}

.black-color{
    color: #2A4B3A;
}
.text-color{
    color: #606060;
}

.bg-black{
  background: #000000;
}

.color-text-white{
  color: #FFFFFF;
}
.weight-600{
    font-weight: 600;
}
.weight-500{
    font-weight: 500;
}
.line-white{
  width: 325.5px;
  height: 0px;
  border: 1px solid #FFFFFF;
}
.bg-green{
    background: #2A4B3A;
}

.btn-malaquita{
    width: 218px;
    height: 39px;
    left: 195px;
    top: 905px;
    background: #FFFFFF;
    border: 1.11429px solid #72BC95;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5.57143px;
    justify-content: center;
    align-content: center;
    padding: 0.4rem;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
