<div>
  <div class=" d-flex bg-black">
	  <h2 class="color-text-white margin-title">CALIDAD Y GARANTIA</h2>
	</div>
</div>
<div class="d-flex bg-black">
	<div class="w-50">
        <img class="img-house" src="../../../assets/png/CASAGR2.png" alt="">
    </div>
    <div class="w-50 content-form bg-green">
        <div class="color-text-white weight-600 text-center">
            <h4>Guerrero y Cornejo Arquitectos</h4>
            
        </div>
        <div class="color-text-white weight-500 text-align mt-4 mb-4">
            Nace en el año de 1981 a través del emprendimiento de dos jóvenes	arquitectos y la constitución de un estudio de arquitectura. El objetivo de esta empresa fue plasmar sus diseños y creatividad en el ámbito nacional.

			Nos diferenciamos por ser consolidadores de servicios arquitectónicos, con la capacidad de gestionar o ejecutar una o todas las fases de un proyecto de infraestructura o inmobiliario con eficiencia y asertividad.

			Nuestro portafolio de servicios incluye: diseño y planificación arquitectónica; dirección y administración de la construcción; dirección arquitectónica; fiscalización de obra y gerencia de proyectos; siempre cuidando la más alta calidad.

			A través de los años, Guerrero y Cornejo Arquitectos ha tenido la oportunidad de proyectar su trabajo en amplios sectores de la arquitectura. El resultado de nuestro trabajo se refleja en más de 554 mil metros cuadrados diseñados y construidos en proyectos residenciales, oficinas, centros educativos y religiosos, entre otros. Nuestra mejor carta de presentación se traduce en la confianza recurrente que han depositado en nuestra empresa clientes a lo largo de	40 años.
        </div>
        <div class="color-text-white link weight-600 ">
            <h4>
                <a class="color-text-white link weight-600" href="#">Más sobre nosotros</a>
            </h4>
        </div>
        
    </div>
    
</div>