<div class="d-flex justify-content-center">
    <div class="btn-malaquita font17" style="margin-right: 5rem" [ngStyle]="{'background-color': bgbtn, 'color': textbtn}">
        Descargar Folleto
    </div>
    <div class="btn-malaquita font17" [ngStyle]="{'background-color': bgbtn, 'color': textbtn}">
        Más información
    </div>
    <div class="btn-malaquita font17" style="margin-left: 5rem" [ngStyle]="{'background-color': bgbtn, 'color': textbtn}">
        Recorrido Virtual
    </div>
</div>
